/.phpunit.cache
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.zip
*.rar
/node_modules
.env
.env.backup
docker-compose.override.yml
Homestead.json
Homestead.yaml
.docker/db/data
/storage
/vendor
vendor
/node_modules
node_modules
composer.lock
